*{
    outline: 1px solid green;
}

.mainContainer{
    position: absolute;
    width: 100vh;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
}

.heading-1{
    position: absolute;
    width: 278px;
    height: 47px;
    left: 350px;
    top: 50px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000000;

}

.heading-2{
    position: absolute;
    width: 130px;
    height: 27px;
    left: 900px;
    top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.paragraph{
    position: absolute;
    width: 439px;
    height: 60px;
    left: 900px;
    top: 80px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #000000;

}

.img-1{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 350px;
    top: 190px;

}

.img-name-1{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 350px;
    top: 500px;
}

.img-2{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 750px;
    top: 250px;
}

.img-name-2{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 750px;
    top: 550px;
}

.img-3{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 1150px;
    top: 190px;

}

.img-name-3{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 1150px;
    top: 500px;
}

.img-4{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 350px;
    top: 580px;
}

.img-name-4{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 350px;
    top: 880px;
}

.img-6{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 1150px;
    top: 580px;
}

.img-name-6{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 1150px;
    top: 880px;
}

.img-5{
    position: absolute;
    width: 230px;
    height: 300px;
    left: 750px;
    top: 640px;
}

.img-name-5{
    position: absolute;
    width: 230px;
    height: 30px;
    left: 750px;
    top: 935px;
}

.p1{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 265px;
    left: 490px;
}

.p2{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 325px;
    left: 890px;
}

.p3{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 265px;
    left: 1290px;
}

.p4{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 655px;
    left: 490px;
}

.p5{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 715px;
    left: 890px;
}

.p6{
    position: absolute;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: 655px;
    left: 1290px;
}

#decoration{
    text-decoration: underline;
}

footer{
    position: absolute;
    height: 40px;
    background-color: white;
    width: 20%;
    top:1200px;
    left: 720px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .mainContainer{
        position: absolute;
        width: 380px;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: #FAFAFA;
    }
    .heading-1{
        position: absolute;
        width: 340px;
        height: 47px;
        left: 20px;
        top: 40px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #000000;
    
    }
    .heading-2{
        position: absolute;
        width: 130px;
        height: 27px;
        left: 20px;
        top: 80px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .paragraph{
        position: absolute;
        width: 300px;
        height: 60px;
        left: 20px;
        top: 140px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
    }
    .img-1{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 20px;
        top: 270px;
    
    }
    
    .img-name-1{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 20px;
        top: 460px;
    }

    .p1{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 315px;
        left: 105px;
    }
    .img-2{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 210px;
        top: 330px;
    }
    .img-name-2{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 210px;
        top: 515px;
    }
    .p2{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 375px;
        left: 295px;
    }
    .img-3{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 20px;
        top: 580px;
    
    }
    
    .img-name-3{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 20px;
        top: 765px;
    }

    .p3{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 625px;
        left: 105px;
    }
    .img-4{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 210px;
        top: 640px;
    }
    .img-name-4{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 210px;
        top: 825px;
    }
    .p4{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 685px;
        left: 295px;
    }
    .img-5{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 20px;
        top: 880px;
    
    }
    
    .img-name-5{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 20px;
        top: 1065px;
    }

    .p5{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 925px;
        left: 105px;
    }

    .img-6{
        position: absolute;
        width: 150px;
        height: 200px;
        left: 210px;
        top: 940px;
    }
    .img-name-6{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 210px;
        top: 1125px;
    }
    .p6{
        position: absolute;
        font-weight: 200;
        width: 140px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 985px;
        left: 295px;
    }
    #decoration{
        text-decoration: underline;
    }
    footer{
        position: absolute;
        height: 30px;
        background-color: white;
        width: 250px;
        top:1280px;
        left: 60px;
    }
    
}

@media screen and (min-width:481px) and (max-width:768px){
    .mainContainer{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        background: #FAFAFA;
    }

    .heading-1{
        position: absolute;
        width: 278px;
        height: 47px;
        left: 130px;
        top: 25px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
    
    }
    
    .heading-2{
        position: absolute;
        width: 130px;
        height: 27px;
        left: 450px;
        top: 35px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .paragraph{
        position: absolute;
        width: 300px;
        height: 80px;
        left: 450px;
        top: 80px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    
        color: #000000;
    
    }
    
    .img-1{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 100px;
        top: 190px;
    
    }
    
    .img-name-1{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 100px;
        top: 500px;
    }
    .p1{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 265px;
        left: 235px;
    }
    
    .img-2{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 400px;
        top: 250px;
    }
    
    .img-name-2{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 400px;
        top: 550px;
    }
    .p2{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 325px;
        left: 535px;
    }
    
    .img-3{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 700px;
        top: 190px;
    
    }
    
    .img-name-3{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 700px;
        top: 500px;
    }
    
    .p3{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 265px;
        left: 835px;
    }

    .img-4{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 100px;
        top: 580px;
    }
    
    .img-name-4{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 100px;
        top: 880px;
    }

    .p4{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 655px;
        left: 235px;
    }
    
    
    .img-6{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 700px;
        top: 580px;
    }
    
    .img-name-6{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 700px;
        top: 880px;
    }

    .p6{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 655px;
        left: 835px;
    }
    
    .img-5{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 400px;
        top: 640px;
    }
    
    .img-name-5{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 400px;
        top: 935px;
    }
    
    
    
    .p5{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 715px;
        left: 535px;
    }
    
    #decoration{
        text-decoration: underline;
    }
    
    footer{
        position: absolute;
        height: 70px;
        background-color: white;
        width: 30%;
        top:1200px;
        left: 340px;
    }
    
}

@media screen and (min-width:768px)  and (max-width:1023px) {
    .mainContainer{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        background: #FAFAFA;
    }
    
    .heading-1{
        position: absolute;
        width: 220px;
        height: 35px;
        left: 40px;
        top: 50px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 48px;
        color: #000000;
    
    }
    
    .heading-2{
        position: absolute;
        width: 130px;
        height: 20px;
        left: 350px;
        top: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .paragraph{
        position: absolute;
        width: 390px;
        height: 60px;
        left: 350px;
        top: 80px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    
        color: #000000;
    
    }
    
    .img-1{
        position: absolute;
        width: 180px;
        height:230px;
        left: 40px;
        top: 190px;
    
    }
    
    .img-name-1{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 40px;
        top: 410px;
    }
    
    .img-2{
        position: absolute;
        width: 180px;
        height: 230px;
        left: 290px;
        top: 250px;
    }
    
    .img-name-2{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 290px;
        top: 470px;
    }
    
    .img-3{
        position: absolute;
        width: 180px;
        height: 230px;
        left: 530px;
        top: 190px;
    
    }
    
    .img-name-3{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 530px;
        top: 410px;
    }
    
    .img-4{
        position: absolute;
        width: 180px;
        height: 230px;
        left: 40px;
        top: 580px;
    }
    
    .img-name-4{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 40px;
        top: 800px;
    }
    
    .img-6{
        position: absolute;
        width: 180px;
        height: 230px;
        left: 530px;
        top: 580px;
    }
    
    .img-name-6{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 530px;
        top: 805px;
    }
    
    .img-5{
        position: absolute;
        width: 180px;
        height: 230px;
        left: 290px;
        top: 640px;
    }
    
    .img-name-5{
        position: absolute;
        width: 180px;
        height: 30px;
        left: 290px;
        top: 860px;
    }
    
    .p1{
        position: absolute;
        font-weight: 400;
        width: 150px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 240px;
        left: 155px;
    }
    
    .p2{
        position: absolute;
        font-weight: 400;
        width: 130px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 290px;
        left: 415px;
    }
    
    .p3{
        position: absolute;
        font-weight: 400;
        width: 110px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 220px;
        left: 665px;
    }
    
    .p4{
        position: absolute;
        font-weight: 400;
        width: 110px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 610px;
        left: 175px;
    }
    
    .p5{
        position: absolute;
        font-weight: 400;
        width: 130px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 680px;
        left: 415px;
    }
    
    .p6{
        position: absolute;
        font-weight: 400;
        width: 110px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 610px;
        left: 665px;
    }
    
    #decoration{
        text-decoration: underline;
    }
    
    footer{
        position: absolute;
        height: 20px;
        background-color: white;
        width: 300px;
        top:1000px;
        left: 220px;
    }
}

@media screen and (min-width:1024px)  and (max-width:1280px) {
    .mainContainer{
        position: absolute;
        width: 100vh;
        left: 0px;
        top: 0px;
        background: #FAFAFA;
    }
    
    .heading-1{
        position: absolute;
        width: 278px;
        height: 47px;
        left: 70px;
        top: 50px;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
    
    }
    
    .heading-2{
        position: absolute;
        width: 130px;
        height: 27px;
        left: 460px;
        top: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
    }
    
    .paragraph{
        position: absolute;
        width: 439px;
        height: 60px;
        left: 460px;
        top: 80px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    
        color: #000000;
    
    }
    
    .img-1{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 70px;
        top: 190px;
    
    }
    
    .img-name-1{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 70px;
        top: 500px;
    }
    
    .img-2{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 410px;
        top: 250px;
    }
    
    .img-name-2{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 410px;
        top: 550px;
    }
    
    .img-3{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 740px;
        top: 190px;
    
    }
    
    .img-name-3{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 740px;
        top: 500px;
    }
    
    .img-4{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 70px;
        top: 580px;
    }
    
    .img-name-4{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 70px;
        top: 880px;
    }
    
    .img-6{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 740px;
        top: 580px;
    }
    
    .img-name-6{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 740px;
        top: 880px;
    }
    
    .img-5{
        position: absolute;
        width: 230px;
        height: 300px;
        left: 410px;
        top: 640px;
    }
    
    .img-name-5{
        position: absolute;
        width: 230px;
        height: 30px;
        left: 410px;
        top: 935px;
    }
    
    .p1{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 265px;
        left: 210px;
    }
    
    .p2{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 325px;
        left: 550px;
    }
    
    .p3{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 265px;
        left: 880px;
    }
    
    .p4{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 655px;
        left: 210px;
    }
    
    .p5{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 715px;
        left: 550px;
    }
    
    .p6{
        position: absolute;
        font-weight: 400;
        width: 200px;
        text-transform: uppercase;
        transform: rotate(90deg);
        top: 655px;
        left: 880px;
    }
    
    #decoration{
        text-decoration: underline;
    }
    
    footer{
        position: absolute;
        height: 40px;
        background-color: white;
        width: 300px;
        top:1100px;
        left: 350px;
    }
}
